<div class="row">
  <div class="col-lg-12" style="padding:5px;">
    <div style="background-color:gray; height:410px; padding-top:30px;">

      <p>모두의 POS</p>
      <p> -사용설명서-</p>
      <p>1. 상처를치료해줄사람어디없나</p>
      <p>2. 가만히 놔두다간 틀림없이 덧나</p>
      <p>3. 사랑도 사람도 너무나도 겁나</p>
      <p>4. 혼자인게 무서워 내가 잊혀질까 무서워</p>
      <p>5. ㅗ</p>
       
    </div>
  </div>
</div>  