
<div style="margin-top:35px;">
  <h3 style><b>주점 시작하기</b></h3>
  <form action = "/home/makestore" method="POST">
    <div class="form-group">
      <label for="exampleInputEmail1"><small>주 점 이 름</small></label>
      <input type="text" class="form-control" name = "store_name" placeholder="ex 컴공 어서옵셔"><br>
  
      <label for="exampleInputEmail1"><small>목 표 매 출</small></label>
      <input type="text" class="form-control" name = "goal" placeholder="만원" style="font-align:right;"><br>
  
      <button type="submit" class="btn btn-default">시작하기</button>
    </div>
  </form>
</div>