<h2>처음 시작하는 사용자, 주점 만들기!!</h2>
<form action = "/home/makestore" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">주 점 이 름</label>
    <input type="text" class="form-control" name = "store_name" placeholder="ex 추적60병">

    <label for="exampleInputEmail1">목 표 매 출</label>
    <input type="text" class="form-control" name = "goal" placeholder="">

    <button type="submit" class="btn btn-default">시작하기</button>
  </div>
</form>