<!DOCTYPE html>
<html>
  <head>
  
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
  
      <title>모두의 POS</title>
      
      <script>
      
        function printTime() {
          var clock = document.getElementById("clock");
          var now = new Date();
          var dayofweek = new Array(7);
          dayofweek[0] = "일요일";
          dayofweek[1] = "월요일";
          dayofweek[2] = "화요일";
          dayofweek[3] = "수요일";
          dayofweek[4] = "목요일";
          dayofweek[5] = "금요일";
          dayofweek[6] = "토요일";
          
          clock.innerHTML = 
            "<div style='font-size:12px; margin-bottom:-2px; font-w'>" +
            now.getFullYear() + ". " +
            (now.getMonth()+1) + ". " +
            now.getDate() + ". " +
            dayofweek[now.getDay()] + "&nbsp;&nbsp;&nbsp;" + "</div>" +
            "<div style='font-size:33px; font-weight:bold; color:white'>" + now.getHours() + ":" +
            now.getMinutes() + ":" + 
            now.getSeconds() + "</div>";
            
          setTimeout("printTime()", 1000);
          // 60000은 60000밀리초, 1밀리초 = 1/1000;
        };
        
        window.onload = function() {
          printTime();
        };
        
        
      </script>
      
  </head>
  
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

      <main class="container">
        <div class="row intro-section" style="width:80%; margin: 0 auto;">
          <!-- 기존에 주점을 만들었는지 확인함 -->
          <div class="col-lg-3" style="padding:5px;">
            
                <div>
                  <% if current_user.store.present? %>
                    <%= render 'home/choosestore' %>
                  <% else %> 
                    <%= render 'home/makestore' %> 
                  <% end %> 
                </div> <!-- 주점을 안만들었으면 주점을 만드는페이지 출력 -->
              </div> <!-- 가장 우측 div box의 padding size -->

          <div class="col-lg-9">
            <% if !current_user.store.present? %>
              <%= render 'home/beforestore' %>
            <% else %>
              <div class="row">
                <div class="col-lg-8" style="padding:5px;">
                  <div style="background-color:gray; height:200px; padding-top:30px;">
                    <% if current_user.store.present?%>
                      <% if !current_user.store.working %> <!--영업중인지 아닌지 확인한다. -->
                        <a onclick="myFunction_start()" href="#" style="font-size:23px; color:white;">
                          <i class="fa fa-lock fa-5x" aria-hidden="true" style="margin-bottom:5px;"></i>
                          <p>영업시작</p>
                        </a>
                      <% else %>
                        <a onclick="myFunction_finish()" href="#" style="font-size:23px; color:white;">
                          <i class="fa fa-hourglass-half fa-5x" aria-hidden="true" style="margin-bottom:5px;"></i>
                          <p>영업끝</p>
                        </a>
                      <% end%>
                    <% end %>
  
                </div>
                
                <div class="col-lg-4" style=" padding:5px;">
                  <% if current_user.store.present?%>
                    <% if !current_user.store.working %>
                      <div style="background-color:gray; height:200px; padding-top:30px; ">
                        <span class="" href="/sale/index" style="font-size:23px; color:white;">
                          <i class="fa fa-calculator fa-5x" aria-hidden="true" style="margin-bottom:5px;"></i>
                          <p>판매하기</p>
                        </span>
                      </div>
                    <% else %>
                      <div style="background-color:green; height:200px; padding-top:30px; ">
                        <a class="" href="/sale/index" style="font-size:23px; color:white;">
                          <i class="fa fa-calculator fa-5x" aria-hidden="true" style="margin-bottom:5px;"></i>
                          <p>판매하기</p>
                        </a>
                      </div>
                    <% end %>
                  <% end %>
                </div>
                
              </div>
           
              <div class="row">
                <div class="col-lg-4" style="padding:5px;">
                  <div style="background-color:red; height:200px; padding-top:30px; ">
                    <a class="" href="/bill/index" style="font-size:23px; color:white;" >
                      <i class="fa fa-print fa-5x" aria-hidden="true" style="margin-bottom:5px;"></i>
                      <p>계산서</p>
                    </a>
                  </div>
                </div>
                
                <div class="col-lg-4" style="padding:5px;">
                  <div style="background-color:purple; height:200px; padding-top:30px; ">
                    <a class="" href="/report/index" style="font-size:23px; color:white;">
                      <i class="fa fa-line-chart fa-5x" aria-hidden="true" style="margin-bottom:5px;"></i>
                      <p>리포트</p>
                    </a>
                  </div>
                </div>
                
                <div class="col-lg-4" style="padding:5px;">
                  <div style="background-color:#FFBF00; height:200px; padding-top:30px; ">
                    <a class="" href="/setting/menusetting" style="font-size:23px; color:white;">
                      <i class="fa fa-edit fa-5x" aria-hidden="true" style="margin-bottom:5px;"></i>
                      <p>메뉴관리</p>
                    </a>
                  </div>
                </div>
              </div> <!-- 2번째 열 안에서의 2번째 행에 대한 row 클래스 -->
            <% end %>
              
            
          </div> <!-- gridsystem에서 2번째 열의 ratio -->
        </div> <!--  가장 바깥범위의 gridsystem row -->
        
        <div class="row intro-section">
          <div class="container" style="width:80%; padding:5px;">
            <% if current_user.store.present?%>
              <% if !current_user.store.working %> <!--영업중인지 아닌지 확인한다. -->
                <div style="background-color:gray; height:50px; padding-top:15px;">
                  <p style="font-size:15px; color:white; font-weight:bold;">영업중이 아닙니다. 판매하기를 사용하시려면 영업시작을 눌러주세요.</p>
                </div>
              <% else %>
                <div style="background-color:green; height:50px; padding-top:15px;">
                  <p style="font-size:15px; color:white; font-weight:bold;">지금은 영업중입니다.</p>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        </div>
        
        
      </main> <!-- 모두의POS container -->

      <script>
          function myFunction_start() {
              var x;
              if (confirm("오늘 영업을 시작하시겠습니까?") == true) {
                  location.href = "/home/storestart";
              } else {

              }

          }
      </script>

      <script>
          function myFunction_finish() {
              var x;
              if (confirm("오늘 영업을 종료하시겠습니까?") == true) {
                  location.href = "/home/storefinish";
              } else {
                  location.href = "/home/index";

              }

          }
      </script>
  </body>
</html>