<h1>환영합니다.</h1>

<%= @test %>

<a href="/users/sign_out">로그아웃</a>
<p>
  이 pos는 어쩌고 저쩌고........
  (소개)
</p>

<div class = "container">

  <!-- 기존에 주점을 만들었는지 확인함 -->
  <% if current_user.store.present?%>
      <%= render 'home/choosestore'%>
  <% else %>
      <%= render 'home/makestore'%> <!-- 주점을 안만들었으면 주점을 만드는페이지 출력 -->

  <%end%>

</div>


<h2>
  <a href ="/home/nav">시작하기</a>
</h2>
