<!DOCTYPE html>
<html>
  <head>
  
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
  
      <title>Scrolling Nav - Start Bootstrap Template</title>
      
      <script>
      
        function printTime() {
          var clock = document.getElementById("clock");
          var now = new Date();
          var dayofweek = new Array(7);
          dayofweek[0] = "일";
          dayofweek[1] = "월";
          dayofweek[2] = "화";
          dayofweek[3] = "수";
          dayofweek[4] = "목";
          dayofweek[5] = "금";
          dayofweek[6] = "토";
          
          clock.innerHTML = 
            "<span style='font-size:14px;'>" +
            now.getFullYear() + ". " +
            (now.getMonth()+1) + ". " +
            now.getDate() + ". " +
            dayofweek[now.getDay()] + "&nbsp;&nbsp;&nbsp;" + "</span>" +
            "<span style='font-size:20px; font-weight:bold;'>" + now.getHours() + ":" +
            now.getMinutes() + "</span>";
            // now.getSeconds() + "초 ";
            
          setTimeout("printTime()", 1000);
          // 60000은 60000밀리초, 1밀리초 = 1/1000;
        };
        
        window.onload = function() {
          printTime();
        };
        
        
      </script>
      
  </head>
  
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  
      
  
      <section id="intro" class="intro-section" style="background-color:#E6E6E6;">
        
        <div class="container">
          
          <div class="row">
           
            <div class="col-lg-12">
              <div style="padding-top:35px; padding-bottom:35px; background-color:#01A9DB; margin-top:30px;">
                <span id="animationSandbox" style="color:white;">
                  <h1 class="title" style="font-size:40px;"><strong>모두의 POS</strong></h1>
                  <h4>주점을 위한 POS시스템 for koreatech</h4>
                </span>
              </div>
              
              
              <div style="padding-top:35px; padding-bottom:40px; background-color:white;">
                
              </div>
         
            </div>
          </div>
        </div>
      </section>
  
     <%= @test %>
    
    <a href="/users/sign_out">로그아웃</a>
    <p>
      이 pos는 어쩌고 저쩌고........
      (소개)
    </p>
    
    <div class = "container">
    
      <!-- 기존에 주점을 만들었는지 확인함 -->
      <% if current_user.store.present?%>
          <%= render 'home/choosestore'%>
      <% else %>
          <%= render 'home/makestore'%> <!-- 주점을 안만들었으면 주점을 만드는페이지 출력 -->
    
      <%end%>
    
    </div>
    
    
    <h2>
      <a href ="/home/nav">시작하기</a>
    </h2>
    =======
  
  </body>
</html>