<div class = "container">
  <h1>step1 메뉴카테고리 입력하기 </h1>
  <form action = "/setting/category_write" method="POST">
    <div class="form-group">
      <label for="exampleInputEmail1">카테고리입력하기</label>
      <input type="text" class="form-control" name = "category" placeholder="ex 드링크 주류 메인 ">

      <button type="submit" class="btn btn-default">입력</button>
    </div>
  </form>
</div>