<h1>Setting#index</h1>
<p>Find me in app/views/setting/index.html.erb</p>

<div class="row">
  <!--왼쪽 화면 -->
  <div class="col-md-2">
    메뉴입력------------------------------------------------------------------------
  </div>


  <!--오른쪽 화면 -->
  <div class="col-md-10">
    <form action = "/setting/write" method="POST">
      <div class="form-group">
        <label for="exampleInputEmail1">카테고리</label>
        <input type="text" class="form-control" name = "menu_category" placeholder="카테고리">

        <label for="exampleInputEmail1">메뉴 이름</label>
        <input type="text" class="form-control" name = "menu_name" placeholder="메뉴이름">

        <label for="exampleInputEmail1">메뉴 가격</label>
        <input type="text" class="form-control" name = "menu_price" placeholder="가격">

      <button type="submit" class="btn btn-default">입력</button>
      </div>
    </form>


    -------현재 메뉴------------------------------------------------------------------
  </div>
</div>