</br></br></br>
<div class="row">
  <!--왼쪽 화면 -->
  <div class="col-md-2">
    <div class = "container">

    <a href="/setting/menusetting">메뉴세팅하기</a>
    </div>
  </div>


  <!--오른쪽 화면 -->
  <div class = "container">
  <div class="col-md-10">
    오른쪽 화면

  </div>
  </div>
</div>