<div class="row">
  <!--왼쪽 화면 -->
  </br>
  <div class="col-md-2">

      <form action = "/setting/category_write" method="POST">
        <div class="form-group">
          <label for="exampleInputEmail1">카테고리입력하기</label>
          <input type="text" class="form-control" name = "category" placeholder="ex 드링크 주류 메인 ">

          <button type="submit" class="btn btn-default">입력</button>
        </div>
      </form>

      <%@category.each do |c|%>
        <form action="/setting/showmenu" method="post">
          <%=c.id%>
          <button type="submit" class="btn btn-default" name = "categoryid" value ="<%=c.id%>"> <%= c.name%></button> </br>
        </form>
      <%end%>
  </div>


  <!--오른쪽 화면 -->
    <div class="col-md-10">
      ------------------------------------------------------


    </div>
  </div>