
<% if current_user.store.billopen %>

  <% if @billshow.present?%>
    <% @billshow.salesmenu.each do |m|%>
            <%=m.menu.name%> /
            <form action="/sale/qty_plus" method = "post">
              <button type="submit" class="glyphicon glyphicon-plus" name = "qty" value ="<%=m.id%>"> </button>
            </form>
              <%=m.qty%>
            <form action="/sale/qty_minus" method = "post">
              <button type="submit" class="glyphicon glyphicon-minus" name ="qty" value ="<%=m.id%>"> </button>
            </form>




    <%end%>
  <%else%>
        hi
  <%end%>

<%else%>
    계산서가 닫힌상태
<%end%>


<form action="/sale/billfinish" method = "post">
      <button type="submit" class="btn btn-default" name = "menuid"> 완료 </button>
</form>

